.project-azrael-wrapper {
    font-family: "MedievalSharp", cursive;
    padding: 5em 2em;
}

.project-azrael-title {
    padding-bottom: 2em;
    font-size: 5em;
    text-align: center;
}

.project-azrael-content {

}