<ul class="menu-list">
    {{ range site.Menus.main }}
        <li class="menu-item">
            <a
                href="{{ .URL | relLangURL }}"
                class="menu-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                {{ .Name }} {{ if .HasChildren }} <span class="drop-icon" for="{{ .Name }}">▾</span> {{ end }}
            </a>
            {{ if .HasChildren }}
               <ul class="sub-menu">
                    {{ range .Children }}
                    <a 
                        href="{{ .URL | relLangURL }}"
                        class="menu-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                        {{ .Name }} 
                    </a>
                    {{ end }}
                </ul>
            {{ end }}
        </li>
    {{ end }}
</ul>
