<ul class="menu-list">
    {{ range site.Menus.main }}
        <li class="menu-item">
            {{ if .HasChildren }}
                <a
                    class="menu-link has-children {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                    {{ .Name }} <span class="drop-icon" for="{{ .Name }}">▾</span> 
                </a>
               <ul class="sub-menu">
                    {{ range .Children }}
                    <a 
                        href="{{ .URL | relLangURL }}"
                        class="menu-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                        {{ .Name }} 
                    </a>
                    {{ end }}
                </ul>
            {{ else }}
            <a
                href="{{ .URL | relLangURL }}"
                class="menu-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}">
                {{ .Name }} 
            </a>
            {{ end }}
        </li>
    {{ end }}
</ul>
